<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM
        "https://testng.org/testng-1.0.dtd">

<suite name="Banking Automation Suite" verbose="1">
	<parameter name="browser" value="${browser}"/>

    <listeners>
        <listener class-name="com.banking.automation.listener.TestExecutionListener"/>
    </listeners>

    <test name="Banking UI Tests">
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>

        <packages>
            <package name="com.banking.automation.tests.framework"/>
        </packages>
    </test>

</suite>